<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Berenice - Carrinho</title>
    <link rel="stylesheet" href="../public/carrinho.css">
</head>
<body>
    
    <div id="container">

        <div id="containerfilho">
    
            <a href="catalogo.html">Ir ao catálogo</a>
            <a href="compra.html" style="display: none;">Realizar a compra</a>
    
            <div id="seucar">
    
                <p>
                    Seu carrinho está vazio! Adicione peças ao carrinho para realizar a compra.
                </p>
    
            </div>
    
            <div id="baixo">
    
                <h1>Aberenice Joias</h1>
        
                <h5>NOVA COLEÇÃO</h5>
        
                <h5>2023</h5>
    
            </div>

        </div>

    </div>

</body>
</html>