<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Berenice - Catálogo</title>
    <link rel="stylesheet" href="../public/catalogo.css">
</head>
<body>

    <main>

        <div id="car">
            <h1>0</h1>
        </div>

        <div id="pag1">

            <div class="linha"></div>
        
            <div id="texts">
        
                <div id="textcurvadocatalogo">
    
                    <span class="n1">C</span>
                    <span class="n2">A</span>
                    <span class="n3">T</span>
                    <span class="n4">Á</span>
                    <span class="n5">L</span>
                    <span class="n6">O</span>
                    <span class="n7">G</span>
                    <span class="n8">O</span>
    
                </div>
        
                <h4>ABJ 2023</h4>
        
                <h5>aberenice.abj@grandesite.com.br</h5>
        
            </div>
        
            <div id="imgs">
        
                <img src="../img/img10.jpg" alt="">
                <img src="../img/img6.jpg" alt="">
        
            </div>
            
        </div>

        <div id="localdospro"></div>

        <div id="pagfim">

            <div id="textos">
        
                <h1>ABERENICE JOIAS</h1>
        
                <h4>Veja mais peças em:</h4>
        
                <h5>www.aberenice_abj.com.br</h5>
        
            </div>

        </div>

    </main>

    <script src="../public/main.js"></script>    
</body>
</html>