<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>A Berenice - Login</title>
    <link rel="stylesheet" href="../public/logincadastro.css">
</head>
<body>

    <div id="login">

        <h1>Login</h1>

        <form action="catalogo.html">

            <label for="email">EMAIL</label>
            <input type="email" id="email" placeholder="berenice@berenice.com" required>

            <label for="senha">SENHA</label>
            <input type="password" id="senha" placeholder="**********" required>

            <input type="submit" value="Login" class="btnloca">

        </form>

        <h5>Não é cadastrado? Cadastre-se <a href="cadastro.html">aqui.</a></h5>

    </div>
    
</body>
</html>